@model WebApplication4.Models.GroupItem
@{
    ViewData["Title"] = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Group Info</h2>

<p>Id: @Model.Id</p>
<p>Name: @Model.Name</p>


@*byMe*@


